.OuterFrame {
    display:flex;
    border: 1px solid blue;
    justify-content: center;
    width: 100vw;
}
.Container {
    display: flex;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid red;
    align-self: center;
    max-width: 1000px;
}
.PictureContainer > img{
    align-items: center;
    width:50%;
    height:50%;
    width: 700px;
    height: 700px;
    margin-right: 40px;
}
.Description {
    flex-direction: column;
}
.ProductName {
    font-size: xx-large;
    font-weight: bold;
}
.select-area {
font-weight: bold;
}


@media screen and (orientation: landscape) {
  }
  
  @media screen and (orientation: portrait) {
  }
  @media screen and (max-width: 480px) and (orientation: portrait) {
  }