.mobile {
    flex-direction: column;
}
.warenkorb-outerframe {
    min-height: 100vh;
}
.warenkorb-container {
    min-height: calc(100vh - var(--navbar-height));
    display: flex;
    justify-content: center;
    background-color: white;
}
.warenkorb-list {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
}
.warenkorb-parent {
    width: 50vw;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    height: var(--warekorb-item-height);
    padding: var(--warenkorb-padding);
    border-top: 1px solid lightgrey;
}

.warenkorb-title{
    text-align: left;
    height: calc(var(--warekorb-item-height) / 2);
    display: flex;
    align-items: center;
}
.warenkorb-image {
    width: calc(var(--warekorb-item-height) - (calc(var(--warenkorb-padding) * 2)));
    height: calc(var(--warekorb-item-height) - (calc(var(--warenkorb-padding) * 2)));
}
.warenkorb-textframe {
    z-index: 2;
    display: block;
    color: var(--text-dark-color);
    font-weight: normal;
    text-align: left !important; 
    width: 100%;
    padding: var(--warenkorb-padding)
}
.warenkorb-name {
    margin: 0px !important;
}  
.warenkorb-price-text {
    display: block;
}   
/* choose good font make it just a little slimmer */
.warenkorb-price {
    display: inline;
    /* font-weight: 150; */
}
.warenkorb-total {
    width: 100%;
    text-align: right;
}
.warenkorb-sum {
    width: 50vw;
    max-width: 1000px;
    height: var(--warekorb-item-height);
    padding: var(--warenkorb-padding);
    border-top: 1px solid lightgrey;
    width: 100%;
    text-align: right;
}
.warekorb-btn {
    max-width: 120px;
    display: block;
}
.marginLeft {
    margin-left: auto;
    margin-top: auto;
    padding-right: var(--warenkorb-padding)
}
.warenkorb-placeholder {
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 200px;;
}
.warenkorb-placeholder > p {
    font-size: 50px !important;
 }

/* todo flex box align item */
.warenkorb-container:hover {
    position: relative;
    /*color changes*/
}

:root {
    --warekorb-item-height: 300px;
    /* Margins */
    --warenkorb-margin: 5px;
    --warenkorb-padding: 25px;
    --warenkorb-landscape-width: 30vw;
    --warenkorb-mobile-width: 40vw;
    /* --warenkorb-margin-total: calc(var(--warenkorb-margin) * 2); */
    /* Card Active Hover Settings */
    /* Boxshadows */
    --warenkorb-small-bs: 0 4px 8px 0 rgba(0,0,0,0.2);
    --warenkorb-light-bs: 0 8px 16px 0 rgba(0,0,0,0.2);
    /* Movement */
    --warenkorb-move-up: -0.3vh;
    --warenkorb-move-down: 0.3vh;
}

@media screen and (orientation: landscape) {
    .warenkorb-outerframe {
        min-height: calc(100vh - var(--navbar-height));
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .warenkorb-image-wrapper {
        width: var(--warenkorb-landscape-width);
        /* height: var(--warenkorb-landscape-width); */
    }
  }
  
  @media screen and (orientation: portrait) {
    .warenkorb-outerframe {
        height: 150vw;
    }
    .warenkorb-parent {
        flex-direction: column;
        width: 100%;
    }
    .warenkorb-container {
        width: var(--warenkorb-mobile-width);
    }
    .warenkorb-image-wrapper {
        margin: var(--warenkorb-margin);
        width: var(--warenkorb-mobile-width);
        /* height: var(--warenkorb-mobile-width); */
    }
  }
  @media screen and (max-width: 480px) and (orientation: portrait) {
    .warenkorb-outerframe {
        height: 100%;
    }
    .warenkorb-parent {
        flex-direction: row;
        width: 100%;
    }
    .warenkorb-container {
        width: calc(100vw - 10px);
    }
    .warenkorb-image-wrapper {
        margin: var(--warenkorb-margin);
        width: calc(100vw - 10px);
        height: calc(100vw - 10px);
    }
  }
  .fixedtopleft {
    position: absolute;
    top: 70px;
    left: 0; 
 }
 .fixedtopleft2 {
     position: absolute;
     top: 90px;
     left: 0; 
 } 