.mobileSidebarToggle {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
}
.mobileSidebarOpen {
    color: black !important
}

.mobileSidebarClose {
    color: white !important;
    z-index: 2;
    top: 3px !important;
    left: 3px !important;
}

.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 56px !important;
    padding: 18px;
    font-size: 13px;
    position: fixed;
    top: 0;
    background-color: darkslategray;
    width: 100%;
    z-index: 1;
}
  
.main-nav ul {
    display: flex;
    list-style: none;
    text-decoration: none ;
}
  
.main-nav ul li a {
    font-weight: bold;
    color: white;
    padding-top: 16px;
    padding: 0 10px;
    text-decoration: none ;
}
    
.main-nav ul li a:hover {
    color: lightblue;
}

.main-nav ul.main-menu {
    flex: 1;
    margin-left: 20px;
}