.mobile{
    flex-direction: column;
}
.card-outerframe {
    width: 100%;
    height: 100%;
    padding: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-parent{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}
.card-container {
    flex-grow: 1;
    background-color: white;
    color: var(--text-dark-color);
    overflow: hidden;
}
.card-image {
    position: absolute;
    left: -1000%;
    right: -1000%;
    top: -1000%;
    bottom: -1000%;
    margin: auto;
    height: 100%;
}
.card-titleframe {
    position: relative;
    top: 83%;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 2px;
    width: 60%;
    height: 48px;
    margin: auto;
    overflow: hidden;
    z-index: 2;
    display: block;
}
.card-title {
    font-size: 25px;
    font-weight: normal;
    line-height: 46px;
    width: 100%;
    text-align: center; 
    overflow: hidden;
}
.card-container:hover {
    position: relative;
    -webkit-animation: activeCard 0.2s forwards  normal ease-in-out;
    animation: activeCard 0.2s forwards  normal ease-in-out;
}
.card-container:not(:hover) {
    position: relative;
    -webkit-animation: notActiveCard 0.2s forwards  normal ease-in-out;
    animation: notActiveCard 0.2s forwards  normal ease-in-out;
    
}

:root {
    /* Margins */
    --card-margin: 10px;
    /* --card-margin-total: calc(var(--card-margin) * 2); */
    /* Card Active Hover Settings */
    /* Boxshadows */
    --card-small-bs: 0 4px 8px 0 rgba(0,0,0,0.2);
    --card-light-bs: 0 8px 16px 0 rgba(0,0,0,0.2);
    /* Movement */
    --card-move-up: -0.3vh;
    --card-move-down: 0.3vh;
}
@media (orientation: landscape) {
    .card-parent {
        flex-direction: row;
        width: 100%;
    }
    .card-container {
        margin: var(--card-margin);
        width: calc(33% - 20px);
        height: calc(50% - 20px);
    }
    
  }
  
  @media (orientation: portrait) {
    .card-parent {
        flex-direction: column;
        width: 100%;
    }
    .card-container {
        margin: var(--card-margin);
        width: calc(50% - 20px);
        height: calc(33% - 20px);
    }
  }

@-webkit-keyframes activeCard {
    0% {
        top: 0px;
        color:var(--text-dark-color);
        box-shadow: var(--card-small-bs);
    }
    100% {
        top:  var(--card-move-up);
        color: var( --text-dark-active-color);
        box-shadow: var(--card-light-bs);
    }
}
@keyframes activeCard {
    0% {
        top: 0px;
        color: var(--text-dark-color);
        box-shadow: var(--card-small-bs);
    }
    100% {
        top: var(--card-move-up);
        color: var( --text-dark-active-color);
        box-shadow: var(--card-light-bs);
    }
}
@-webkit-keyframes notActiveCard {
    0% {
        top: 0px;
        color: var( --text-dark-active-color);
        box-shadow: var(--card-light-bs);
    }
    100% {
        top: var(--card-move-down);
        color: var(--text-dark-color);
        box-shadow: 0;
    }
}
@keyframes notActiveCard {
    0% {
        top: 0px;
        color: var( --text-dark-active-color);
        box-shadow: var(--card-light-bs);
    }
    100% {
        top: var(--card-move-down);
        color: var(--text-dark-color);
        box-shadow: 0;
    }
}
