.outerArticleContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.centeredArticleContainer{
    width: 50%;
}
/* makes images always stay their format while never pushing boundries */
.tableCellDynamic img {
    display: inline-block;
    max-width: 100%;
    width: auto;
    height: auto;
}
@media only screen and (max-width: 760px) {
    .centeredContainer{
        width: calc(100% - 64px) !important;
    }
}