.wideContainer {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-grow: 1;
    justify-content: center;
}
.flexitem {
    align-self: center;
}

.titleBox {
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
    text-align: center;
}


@media (orientation: landscape) {
    .wideImage {
        /* 3600 / 2154 = 0.67 image ratio*/
        width: 100vw;
        height: 67vw;
        /* Die Differenz von Bildschirmhöhe und Bildhöhe um die hälfte nach oben ziehen (centering) */
        margin-top: calc(calc(calc(100vh - 56px) - 67vw) / 2);
    } 
    
}
  
@media (orientation: portrait) {
    .wideImage {
        margin-top: 0px;
        width: 149vh;
        height: 100vh;
    }
}