:root {
    --zoom-time: 1s;
    --delay-time: 0.5s;
    --fade-time: 0.5s;
    --zoom-scale: 1.3;
}
.wideContainer {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-grow: 1;
    justify-content: center;
    margin-bottom: 150px;
}

.textBox {
    z-index: 2;
    cursor: pointer;
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    color: var(--text-dark-color);
    animation-delay: var(--delay-time);
    -webkit-animation: fade 1s forwards var(--delay-time) normal 1 ease-in-out;
    animation: fade 1s forwards var(--delay-time) 1 normal ease-in-out;
}
@-webkit-keyframes fade {
    100% {
        opacity: 1;
    }
}
@keyframes fade {
    100% {
        opacity: 1;
    }
}
.more-btn {
    padding: 0.5em 1em;
    border: 2px solid var(--text-dark-color);
}
.wideImageWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden !important;
}
.wideImage {
    transform: scale(var(--zoom-scale));
    -webkit-animation: zoom var(--zoom-time) forwards  normal ease-in-out;
    animation: zoom var(--zoom-time) forwards  normal ease-in-out;
}
@-webkit-keyframes zoom {
    100% {transform: scale(1.0);}
}
@keyframes zoom {
    100% {transform: scale(1.0);}
}

@media screen and (orientation: portrait) {
    .wideImageWrapper {
        height: 100vh !important;
        width: 100vw !important;
    }
    .wideImage {
        height: 100vh !important;
    }
}

@media screen and (orientation: landscape) {
    .wideImageWrapper {
        height: 100vh !important;
        width: 100vw !important;
    }
    .wideImage {
        width: 100vw !important;
    }
}