.mobile {
    flex-direction: column;
}
.product-outerframe {
    min-height: 100vh;
}

.product-parent {
    max-width: var(--max-width-container);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
}
.product-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* justify-items: center; */
    flex-grow: 1;
    overflow: hidden;
    margin: var(--product-margin);
    cursor: pointer;
}
.product-image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden !important;
    height: 100%;
    width: 100%;
}
.product-image {
    margin: auto;
    width: 100%;
}
.product-textframe {
    z-index: 2;
    padding: 5px;
    display: block;
    color: var(--text-dark-color);
    font-weight: normal;
    width: 100%;
    text-align: center !important; 
}
.product-name {
    margin: 0px !important;
}  
.product-price-text {
    display: inline;
}   
/* choose good font make it just a little slimmer */
.product-price {
    display: inline;
    /* font-weight: 150; */
} 
/* todo flex box align item */
.product-container:hover {
    position: relative;
    /*color changes*/
}

:root {
    /* Margins */
    --product-margin: 5px;
    --product-padding: 8px;
    --product-landscape-width: 30vw;
    --product-mobile-width: 40vw;
    /* --product-margin-total: calc(var(--product-margin) * 2); */
    /* Card Active Hover Settings */
    /* Boxshadows */
    --product-small-bs: 0 4px 8px 0 rgba(0,0,0,0.2);
    --product-light-bs: 0 8px 16px 0 rgba(0,0,0,0.2);
    /* Movement */
    --product-move-up: -0.3vh;
    --product-move-down: 0.3vh;
}

@media screen and (orientation: landscape) {
    .product-outerframe {
        min-height: var(--calc-min-height);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .product-parent {
        flex-direction: row;
    }
    .product-image-wrapper {
        width: var(--product-landscape-width);
        /* height: var(--product-landscape-width); */
        max-width:480px;
        max-height:480px;
    }
  }
  
  @media screen and (orientation: portrait) {
    .product-outerframe {
        height: 150vw;
    }
    .product-parent {
        flex-direction: column;
        width: 100%;
    }
    .product-container {
        width: var(--product-mobile-width);
    }
    .product-image-wrapper {
        margin: var(--product-margin);
        width: var(--product-mobile-width);
        /* height: var(--product-mobile-width); */
    }
  }
  @media screen and (max-width: 480px) and (orientation: portrait) {
    .product-outerframe {
        height: 100%;
    }
    .product-parent {
        flex-direction: row;
        width: 100%;
    }
    .product-container {
        width: calc(100vw - 10px);
    }
    .product-image-wrapper {
        margin: var(--product-margin);
        width: calc(100vw - 10px);
        height: calc(100vw - 10px);
    }
  }