.mobileSidebarToggle{
    position: absolute !important;
    top: 0px !important;
    left: 0px !important;
    font-size: 20px !important;
    z-index: 1;
    color: #8fcb9e;
}
.infrontandfixed{
    position: fixed !important;
    top: 0px !important;
    left: 0px !important;
    font-size: 20px !important;
    z-index: 1;
}
.mobileSidebarItem{
    text-align: right !important;
    font-size: 17px;
}
.mobileSidebarContainer{
    background-color: #8fcb9e !important;
    color: white;
    text-align: right !important;
}
.mobileSidebarClose{
    color: white;
}
.nomargin {
    margin: 0px !important;
    padding: 0px !important;
}
.margin5 {
    margin: 5px !important
}
.margin10 {
    margin: 10px !important
}