html {
    height: 100%;
}
/* Global Variables */
:root{
    /* General Colors */
    --body-bg-color: #f4f4f4;

    --light-color: #24B0F2;
    --very-light-color: #94cee9;
    --light-active-color: rgb(49, 128, 255);
    --text-light-color: white;
    --text-light-active-color: var(--light-active-color);

    --dark-color: rgb(28, 99, 214);
    --dark-active-color: #2272f3;
    --text-dark-color: black;/* #454545 */
    --text-dark-active-color: var(--dark-active-color);;
    
    --border-dark-color: var(--dark-color);
    --border-light-color: var(--light-color);

    --max-width-container: 1710px;
    --outer-frame-padding: 10vw;

    --navbar-height: 62px;
    
    
    /* --element-dark-bg-color: rgb(66, 66, 66); */
    /*--element-light-bg-color: rgb(180, 180, 180); */

/* 
   --text-normal-fontsize:11px;
   --text-l-fontsize:25px;
   --text-xl-fontsize: 40px; */
}
/* Reponsive Design */
/*  Mobile */
@media screen and (min-width: 0px) and (orientation: portrait)   {
    /* Textsizes */
    .item{  
        font-size: 16px !important;
    }
    h1{  
        font-size: 30px;
    }
    h2{  
        font-size: 20px !important;
    }
    /* Icon- & Logosizes */
    i{
        font-size: 20px !important;
    }
    .logo{
        height: 25px;
    }
}
@media screen and (min-width: 600px) and (orientation: portrait)   {
    p{  
        font-size: 20px !important;
    }
}
@media screen and (min-width: 768px) and (orientation: portrait) {
    h1{  
        font-size: 40px;
    }
}
/* @media screen and (min-width: 1080px) and (orientation: portrait)  {
}
@media screen and (min-width: 1366px) and (orientation: portrait)  {
} */

/* Desktop */
@media screen and (min-width: 0px) and (orientation: landscape)   {
    /* Textsizes */
    p{  
        font-size: 16px !important;
    }
    h1{  
        font-size: 30px;
    }
    h2{  
        font-size: 20px !important;
    }
    
    /* Icon- & Logosizes */
    i{
        font-size: 20px !important;
    }
    .logo{
        height: 25px;
    }
}
@media screen and (min-width: 600px) and (orientation: landscape)   {
    /* Textsizes */
    p{  
        font-size: 20px !important;
    }
}
@media screen and (min-width: 768px) and (orientation: landscape) {
}
@media screen and (min-width: 1080px) and (orientation: landscape)  {
}
@media screen and (min-width: 1366px) and (orientation: landscape)  {

}