.cancel-outerframe {
    display: flex;
    align-items: center;
    justify-content: center;
}
.cancel-container {
    padding: var(--outer-frame-padding);
    max-width:var(--max-width-container);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cancel-headframe {
    display: block;
    width: 100%;
}
.cancel-title {
    font-weight: bold;
    display: inline;
    margin: 0px;
}
.cancel-btn {
    display: inline !important;
    color: darkred;
    font-size: 30px !important;
    margin-top: 10px !important;
    vertical-align: top !important;
}
.cancel-text {
    padding: 4px;
}